<script>
var OILoader = {
    progressBar: undefined,
    progstop: false,
    init:
        function() {
            this.progressBar = jQuery("#prog-div");
            this.progressBar.progressbar({
                mark2: 33,
                mark3: 66,
                maximum: 100,
                step: 2
            });
            this.progressBar.on("positionChanged", function (event) {
                if (event.position >= 100 && !OILoader.progstop) {
                    setTimeout(function () {
                        OILoader.progressBar.progressbar("reset");
                    }, 1000);
                }
            });
            this.chargeBar.call(this);
            setTimeout(this.load, 1000);
        },
    chargeBar:
        function() {
            if (OILoader.progstop) {
                return;
            }
            this.progressBar.progressbar('stepIt');
            setTimeout(jQuery.proxy(this.chargeBar, this), 55);
        },
    load:
        function() {
            jQuery.getScript("js/app.js", function (){
                OILoader.progstop = true;
                OILoader.progressBar.toggle(400);
                OILoader.progressBar.progressbar("setMark2", 0);
                OILoader.progressBar.progressbar("setMark3", 0);
                OILoader.progressBar.progressbar("setPosition", 100);
                console.log("Loaded app.");
            }).fail(function (jqxhr, settings, exception){
                OILoader.progstop = true;
                OILoader.progressBar.progressbar("setMark3", 100);
                OILoader.progressBar.progressbar("setMark2", 100);
                OILoader.progressBar.progressbar("setPosition", 100);
                console.log("app load died from " + exception);
            });
        }
};
jQuery(document).ready(function () {
    OILoader.init();
});
</script>

<center>
    <div id="prog-div">
    </div>
    <div id="app">
    </div>
</center>
