<script>
var OILoader = {
    progressBar: undefined,
    progstop: false,
    init:
        function() {
            this.progressBar = jQuery("#progress-bar-div");
            this.progressBar.progressbar({
                mark2: 33,
                mark3: 66,
                maximum: 100,
                step: 2
            });
            this.progressBar.on("positionChanged", function (event) {
                if (event.position >= 100) {
                    setTimeout(function () {
                        OILoader.progressBar.progressbar("reset");
                    }, 1000);
                }
            });
            this.chargeBar.call(this);
            this.load();
        },
    chargeBar:
        function() {
            if (OILoader.progstop) {
                return;
            }
            this.progressBar.progressbar('stepIt');
            setTimeout(jQuery.proxy(this.chargeBar, this), 55);
        },
    load:
        function() {
            var ajax = jQuery.ajax();
        }
};
jQuery(document).ready(function () {
    OILoader.init();
});
</script>

<div id="progress-bar-div">
</div>
