<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/slate/bootstrap.min.css">
        
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        
        <!-- Special Rewrite of https://github.com/geersch/bootstrap-progressbar -->
        <script src="js/bpr.js"></script>

    </head>
    <body>

        <div class="site">
          <div class="header">
          <center>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </center>
          </div>
          {{ content }}
    </body>
</html>
